﻿@model Buzz.Interactive.Models.ContentPickerPart
<fieldset>
    @Html.LabelFor(m => m.DisplayType, T("Display Type"))
    @Html.TextBoxFor(m => m.DisplayType, new { @class = "textMedium" })
    <span class="hint">@T("Optionally specfiy a display type, e.g. Summary, Detail, or any other custom display type.")</span>
</fieldset>