﻿@model Buzz.Interactive.Models.MapPart
@using Buzz.Interactive.Models
@using Buzz.Interactive.Utils


<fieldset>
    @Html.LabelFor(m => m.ZoomLevel, T("Zoom Level"))
    @Html.TextBoxFor(m => m.ZoomLevel, new { @class = "textMedium" })
    <span class="hint">@T("Optionally specfiy a default zoom level for the map.")</span>

    @Html.LabelFor(m => m.MapType, T("Map Type"))
    @Html.DropDownListFor(m => m.MapType, MapType.HYBRID.ToSelectList() , new { @class = "textMedium" })

</fieldset>