@model Buzz.Interactive.Models.MapItemPart
@using Buzz.Interactive.Models;
@using Orchard.ContentManagement;

@{
    Script.Require("GoogleMapsV3").AtFoot();
    Script.Include("buzz.maps.google.admin.js").AtFoot();
    Style.Include("buzz.maps.google.css");


    }


<div id="map-canvas"></div>
<div id="map-data">

    <label><input type="radio" class="map-result" name="result-type" value="point" @(Model.MapItemType == MapItemType.Point ? "checked":"")/> Point</label>
    <fieldset data-result-type="" id="map-point">
        @Html.LabelFor(m => m.Longitude, T("Longitude"))
        @Html.TextBoxFor(m => m.Longitude, new { @class = "large text longitude", autofocus = "autofocus" })
  
        @Html.LabelFor(m => m.Latitude, T("Latitude"))
        @Html.TextBoxFor(m => m.Latitude, new { @class = "large text latitude" })
    </fieldset>
    
    <label><input type="radio" class="map-result" name="result-type" value="polygon" @(Model.MapItemType == MapItemType.Polygon ? "checked":"") /> Area</label>
    <fieldset data-result-type="polygon" id="map-poly">
        

        @Html.LabelFor(m => m.PolygonPoints, T("Polygon"))
        @Html.TextAreaFor(m => m.PolygonPoints, new { @class = "large text" })

        <button>Clear</button>
    </fieldset>
</div>
