﻿body {
}




#map-canvas-display {

    height: 280px;
}

    #map-canvas-display img {
   
        max-width: none;
        
         }

    .infoBox {
        background-color: #fff;
        margin-top: 20px;
        width:200px !important;
}


    .map-item-content {
    padding: 0 20px;
    margin: 20px 0;
    color:	#58595B;
    position: relative;
}

    .map-item-content .map-item-flyout {
        display: block;
        position: absolute;
        background: transparent url(../content/images/map-flyout.png) no-repeat left top;
        width: 139px;
        height: 48px;
        bottom: -68px;
        left: 0px;
    }

#map-item-template-wrapper{
    width:auto !important;
}

#map-item-template {
width: auto !important;

}