@model dynamic



@{
Style.Include("buzz.maps.google.css");
Script.Require("GoogleMapsV3").AtFoot();
Script.Include("infobox.js").AtFoot();
Script.Include("buzz.maps.google.js").AtFoot();
Script.Require("AngularJS").AtHead();
Script.Require("AngularSanitize").AtHead();
Script.Require("UnderscoreJS").AtHead();
}


<div id="ng-app" ng-app="BuzzMaps">
<div ng-controller="BuzzMapsCtrl" >
<div id="map-canvas-display" data-zoom="@Model.ZoomLevel" data-map-type="@Model.MapType"></div>

<div class="hide" id="map-item-template-wrapper" >
    <div id="map-item-template" class="bg-white sec-red">
        <div class="map-item-content body-content">
            <h4>{{selectedItem.item.title}}</h4>
            <span class="map-item-flyout"></span>
        </div>
    </div>
</div>

</div>
</div>