@model dynamic
@using Orchard
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects

<p>
@Model.Part.ContentItem.TitlePart.Title
@Model.Longitude<br />
@Model.Latitude<br />
@Model.PolygonPoints<br />
</p>

