﻿@using Orchard.MediaLibrary.Models;
@using Orchard.ContentManagement;

@{
    Script.Require("jQueryCycle").AtHead();
    }
<img src="/modules/buzz.contentpickerwidgets/content/images/banner-spacer.png" class="img-responsive"  style="height: auto;" />
@foreach (var item in Model.MediaItems)
{
    ContentItem contentItem = item.ContentItem;
    var mediaPart = contentItem.As<MediaPart>();
 
    
 <div class="banner" title="@mediaPart.AlternateText" style="background: #000  url('@Display.ResizeMediaUrl(Height: 370, Width: 2000, Mode: "crop", Alignment: "middlecenter", Path: mediaPart.MediaUrl)') no-repeat center center; height: 100%; background-size: cover;" ></div>
}

@using (Script.Foot()) { 

    <script type="text/javascript">

$(document).ready(function () {
    $('.banner-slider').cycle({
        fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        slideExpr: '.banner',
        fit:1
    });

});
</script>
}