@model dynamic
@using Orchard
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects



@using(Script.Foot()){

<script type="text/javascript">

    if (!window.mapItemsArray)
    {
        window.mapItemsArray = new Array();
    }

    var item = Object();
    item.title = '@Model.Part.ContentItem.TitlePart.Title';
@if(Model.Part.GetPoint() != null)
{
    <text>item.point = new Object();
    item.point.longitude = @Model.Part.GetPoint().Longitude;
    item.point.latitude = @Model.Part.GetPoint().Latitude;</text>

}
else if(Model.Part.GetPolygon() != null)
{
    <text>item.polygon = new Array();</text>

    foreach(var point in Model.Part.GetPolygon())
    {
        <text>
        item.polygon.push({latitude : @point.Latitude, longitude : @point.Longitude})</text>
    }

}
   window.mapItemsArray.push(item);

</script>
}


