﻿@using Orchard.ContentManagement;
@using Orchard.Widgets.Models;
@using Orchard.Widgets;
@{
    var widgetPart = ((IContent)Model.ContentItem).As<WidgetPart>();
    
    var tag = Tag(Model, "article");
    tag.AddCssClass(widgetPart.Fields.FirstOrDefault(f => f.Name == "WrapperClass").Storage.Get<string>(null));
    
}

@* @Html.Raw(widgetPart.Fields.FirstOrDefault(f => f.Name == "BeforeWrapper").Storage.Get<string>(null))*@

@tag.StartElement

@Html.Raw(widgetPart.Fields.FirstOrDefault(f => f.Name == "BeforeContent").Storage.Get<string>(null))
  
@if (AuthorizedFor(Permissions.ManageWidgets)) {
        <div class="manage-actions">@Html.ItemEditLinkWithReturnUrl(T("Edit").Text, (ContentItem)Model.ContentItem)</div>
}

    @if ( (widgetPart.RenderTitle && HasText(widgetPart.Title)) || Model.Header != null) {

        if ((widgetPart.RenderTitle && HasText(widgetPart.Title))) {
        <h4>@widgetPart.Title</h4>
        }
        @Display(Model.Header)
  
    }
   

    @Display(Model.Child)

 



    @if(Model.Footer != null) {
  
        @Display(Model.Footer)

    }
    
@Html.Raw(widgetPart.Fields.FirstOrDefault(f => f.Name == "AfterContent").Storage.Get<string>(null))

@tag.EndElement

@* @Html.Raw(widgetPart.Fields.FirstOrDefault(f => f.Name == "AfterWrapper").Storage.Get<string>(null)) *@