﻿ /*----------Jplayer-------------*/
.iso-content-wrapper {
position:relative;
width: 100%;
height: 100%;
}

.iso-content-wrapper .jp-audio {
margin: 0;
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 15px;
margin-top: 30px;
}

.jp-controls  .fa {
    display: inline-block;
    text-align: center;
    width: 1.25em;
}

.jp-type-single .jp-controls{
list-style: none;
position: relative;
font-size: 26px;
  line-height: 32px;
margin: 0;
float: left;
}

   .jp-type-single .jp-controls li {
    
    float: left;
    display:inline;
    border:none;
    background: none !important;
    padding: 0;
    }

   .jp-type-single .jp-controls a:hover {
    text-decoration: none;
    }

.jp-type-single .jp-mute, .jp-volume-max,.jp-repeat {

display: none !important;
}

.jp-type-single .jp-time-holder {
    font-size: 18px;
    line-height: 32px;

    margin-left: 5px;
    float: left;
}

.span2 .jp-time-holder {
display: none;
}



.iso-item .jp-time-holder {
    color: #fff;
}

.jp-time-holder * {
 
display: inline;
}

 .jp-type-single .jp-controls {
    margin-bottom: 10px;
}

 .jp-progress {

clear: left;
height : 3px;
max-width: 300px;
margin-left: 5px;
background-color: #eee;
margin-bottom:15px;
}

 div.jp-seek-bar {
	background-color: #ccc;
	width:0px;
	height:100%;
	cursor: pointer;
}
 div.jp-play-bar {
	background-color: #FFD300;
	width:0px;
	height:100%;
}

 /*------------end jplayer-----------------*/