﻿@using Orchard.ContentManagement
@using Orchard.MediaLibrary.Models
@using Orchard.Utility.Extensions
@model dynamic
   
        
@{
    Style.Require("jPlayer");
    Script.Require("buzz.jPlayer");
    Style.Require("fontAwsome");    

    AudioPart audio = Model.ContentPart;
    var media = ((ContentItem)Model.ContentItem).As<MediaPart>();

    var fieldId = Guid.NewGuid();
}

@if (media != null)
{
<div id="jquery_jplayer_@fieldId.ToString()" class="jp-jplayer" data-media-file="@media.MediaUrl" data-media-file-type="@Path.GetExtension(media.MediaUrl.ToLower()).Substring(1)" ></div>

		<div id="jp_container_@fieldId.ToString()" class="jp-audio">
			<div class="jp-type-single">
				<div class="jp-gui jp-interface">
					<ul class="jp-controls">
						<li><a href="javascript:;" class="jp-play" tabindex="1" title="play"><i class="fa fa-play" title="Play"></i> </a></li>
						<li><a href="javascript:;" class="jp-pause" tabindex="1" title="pause"><i class="fa fa-pause" title="Pause"></i> </a></li>
						<li><a href="javascript:;" class="jp-stop" tabindex="1" title="stop"><i class="fa fa-stop" title="Stop"></i> </a></li>
					</ul>
					
					<div class="jp-volume-bar">
						<div class="jp-volume-bar-value"></div>
					</div>
					<div class="jp-time-holder">
						<div class="jp-current-time"></div>/<div class="jp-duration"></div>

					</div>
                    <div class="jp-progress">
						<div class="jp-seek-bar">
							<div class="jp-play-bar"></div>
						</div>
					</div>
				</div>
				
				<div class="jp-no-solution">
				</div>
			</div>
		</div>
}