﻿.manage-actions
{
    display: none;
}

@font-face {
    font-family: 'summertime_extra_cXcharacters';
    src: url('Fonts/summerte.eot');
    src: url('Fonts/summerte.eot?#iefix') format('embedded-opentype'),
         url('Fonts/summerte.woff') format('woff'),
         url('Fonts/summerte.ttf') format('truetype'),
         url('Fonts/summerte.svg#Fonts/summertime_extra_cXcharacters') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'summertime_extra_obliqueXOb';
    src: url('Fonts/summereo.eot');
    src: url('Fonts/summereo.eot?#iefix') format('embedded-opentype'),
         url('Fonts/summereo.woff') format('woff'),
         url('Fonts/summereo.ttf') format('truetype'),
         url('Fonts/summereo.svg#Fonts/summertime_extra_obliqueXOb') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'summertime_obliqueoblique';
    src: url('Fonts/summerto.eot');
    src: url('Fonts/summerto.eot?#iefix') format('embedded-opentype'),
         url('Fonts/summerto.woff') format('woff'),
         url('Fonts/summerto.ttf') format('truetype'),
         url('Fonts/summerto.svg#Fonts/summertime_obliqueoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'summertimeregular';
    src: url('Fonts/summerti.eot');
    src: url('Fonts/summerti.eot?#iefix') format('embedded-opentype'),
         url('Fonts/summerti.woff') format('woff'),
         url('Fonts/summerti.ttf') format('truetype'),
         url('Fonts/summerti.svg#Fonts/summertimeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

#branding {
    margin: 0;
}


#layout-header {
    background: url("../Content/Images/header-newquay-orchard.png");
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://buzzinteractive.dyndns.org:78/Themes/BuzzInteractive/Content/Images/header-newquay-orchard.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://buzzinteractive.dyndns.org:78/Themes/BuzzInteractive/Content/Images/header-newquay-orchard.png', sizingMethod='scale')";
    height: 50%;
    z-index: 20;
    position: relative;
}

#layout-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar {
    min-height: 28px;
}

.navbar-default {
    box-shadow: 0px 2px 2px #888888;
    margin-bottom: 0;
}

.navbar-nav {
    padding: 4px 0 4px 0;
}

.navbar-nav.nav-justified > li{
    float:none;
}

.navbar-nav > li{
    border-right: 1px solid gray;
}

.navbar-nav > li.last {
    border-right-style: none;
}

.navbar-nav>li>a {
    padding-top: 4px;
    padding-bottom: 4px;
}


h1 {
    color: #9AA35E;
    font-family: summertimeregular;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #9AA35E;
    font-family: summertimeregular;
    text-align: center;
    font-size: 30px;
}

h3 {
    color: #9AA35E;
    font-size: 14px;
}

hr {
    border-style: dashed;
    color: black;
}

.img-center {
    margin: 0 auto;
}